In [32]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [33]:
url="https://fastestlaps.com/tracks/adm-miachkovo"
page=requests.get(url)
page

In [34]:
soup=BeautifulSoup(page.content)

In [35]:
table=soup.find("table")

In [36]:
tbody=table.find("tbody")

In [37]:
rows=tbody.find_all("tr")

In [38]:
laps=[]
for i in rows:
  col=i.find_all("td")
  laps_info=[c.text for c in col ]
  laps.append(laps_info)
print(laps)

[['1.', 'Porsche 911 Turbo', 'Oleg Kesselman', '1:48.77', '500 / 1601'], ['2.', 'Porsche 911 Turbo S', 'Oleg Kesselman', '1:49.09', '530 / 1591'], ['3.', 'Nissan GT-R (R35)', 'unknown', '1:49.16', '480 / 1765'], ['4.', 'Audi R8 V10 5.2 FSI (Mk I)', 'unknown', '1:49.73', '525 / 1671'], ['5.', 'Lamborghini Gallardo SE', 'unknown', '1:49.80', '520 / 1640'], ['6.', 'Ferrari 458 Italia', 'Oleg Kesselman', '1:50.02', '570 / 1529'], ['7.', 'Porsche 911 Turbo (997)', 'unknown', '1:50.65', '480 / 1618'], ['8.', '911 Carrera 4S Cabriolet', 'Boris Shulmeister', '1:52.70', '400 / 1535'], ['9.', 'BMW  M6 Cabrio (F12)', 'Boris Shulmeister', '1:53.90', '560 / 2041'], ['10.', 'Mercedes-Benz SL 63 AMG', 'unknown', '1:55.00', '537 / 1845'], ['11.', 'BMW M3 (E92)', 'unknown', '1:56.27', '420 / 1628'], ['12.', 'Jaguar F-Type V8 S', 'Boris Shulmeister', '1:56.30', '495 / 1758'], ['13.', 'Lancer Evo X MR TC-SST', 'unknown', '1:56.60', '295 / 1675'], ['14.', 'Mercedes-Benz C 63 AMG', 'unknown', '1:56.62', '457 / 1809'], ['15.', 'Mitsubishi Lancer EVO IX', 'unknown', '1:56.80', '290 / 1481'], ['16.', 'Subaru Impreza WRX STI (2.5)', 'unknown', '1:57.10', '300 / 1527'], ['17.', 'Mitsubishi Lancer Evo X', 'unknown', '1:57.40', '295 / 1590'], ['18.', 'Audi S4 (B8)', 'unknown', '1:57.80', '333 / 1754'], ['19.', 'BMW M3 Cabrio (E93)', 'unknown', '1:58.83', '420 / 1810'], ['20.', 'Porsche Cayman S (987)', 'unknown', '1:59.15', '295 / 1409'], ['21.', 'VW Golf R32 (Mk V)', 'Alexei Kurilkin', '1:59.60', '250 / 1580'], ['22.', 'Opel Astra OPC 2012', 'Oleg Kesselman', '1:59.70', '280 / 1560'], ['23.', 'Caterham 7 CSR 200', 'unknown', '2:00.90', '200 / 575'], ['24.', 'Audi TT 3.2 quattro (Mk II)', 'Kirill Ladygin', '2:00.99', '250 / 1448'], ['25.', 'Audi TT Roadster 3.2 (Mk II)', 'unknown', '2:00.99', '250 / 1539'], ['26.', 'Nissan 350Z (313 PS)', 'unknown', '2:01.54', '313 / 1545'], ['27.', 'Renault Megane RS (Mk III)', 'Oleg Kesselman', '2:01.60', '250 / 1406'], ['28.', 'Peugeot RCZ GT THP200', 'Oleg Kesselman', '2:02.00', '200 / 1364'], ['29.', 'BMW Z4 3.0si Coupe', 'unknown', '2:02.17', '265 / 1408'], ['30.', 'Toyota GT86', 'Oleg Kesselman', '2:02.20', '200 / 1239'], ['31.', 'Ford Focus ST', 'Oleg Kesselman', '2:02.40', '250 / 1448'], ['32.', 'Subaru BRZ', 'Oleg Kesselman', '2:02.40', '200 / 1251'], ['33.', 'Mini Cooper S (Mk II)', 'unknown', '2:02.70', '174 / 1207'], ['34.', 'Toyota Celica S', 'Scherbatkin  Slava', '2:03.00', '143 / 1124'], ['35.', 'Renault Clio RS III Cup', 'unknown', '2:03.60', '201 / 1256'], ['36.', 'Honda Civic Type-R (EP3)', 'Alexey Krasnoglazov', '2:03.69', '200 / 1246'], ['37.', 'Skoda Fabia RS (Mk II)', 'F. Dikarev', '2:04.05', '179 / 1264'], ['38.', 'Opel Corsa OPC (D)', 'unknown', '2:05.47', '192 / 1230'], ['39.', 'Ford Fiesta ST', 'unknown', '2:06.30', '150 / 1137'], ['40.', 'Volvo C30 T5', 'unknown', '2:06.82', '220 / 1453'], ['41.', 'Honda Civic Type-R (FN2)', 'unknown', '2:07.29', '201 / 1348'], ['42.', 'Mazda MX-5 2.0 (Mk III)', 'unknown', '2:08.17', '160 / 1152'], ['43.', 'Ford Focus RS', 'unknown', '2:10.20 w', '305 / 1475'], ['44.', 'Mazda 3 MPS (Mk II)', 'unknown', '2:12.50 w', '260 / 1464']]

In [39]:
Rank=[]
Vehicle=[]
Driver=[]
Time=[]
PSKG=[]

In [40]:
for i in laps:
  Rank.append(i[0])
  Vehicle.append(i[1])
  Driver.append(i[2])
  Time.append(i[3])
  PSKG.append(i[4])

print(Rank)
print(Vehicle)
print(Driver)
print(Time)
print(PSKG)

['1.', '2.', '3.', '4.', '5.', '6.', '7.', '8.', '9.', '10.', '11.', '12.', '13.', '14.', '15.', '16.', '17.', '18.', '19.', '20.', '21.', '22.', '23.', '24.', '25.', '26.', '27.', '28.', '29.', '30.', '31.', '32.', '33.', '34.', '35.', '36.', '37.', '38.', '39.', '40.', '41.', '42.', '43.', '44.']
['Porsche 911 Turbo', 'Porsche 911 Turbo S', 'Nissan GT-R (R35)', 'Audi R8 V10 5.2 FSI (Mk I)', 'Lamborghini Gallardo SE', 'Ferrari 458 Italia', 'Porsche 911 Turbo (997)', '911 Carrera 4S Cabriolet', 'BMW  M6 Cabrio (F12)', 'Mercedes-Benz SL 63 AMG', 'BMW M3 (E92)', 'Jaguar F-Type V8 S', 'Lancer Evo X MR TC-SST', 'Mercedes-Benz C 63 AMG', 'Mitsubishi Lancer EVO IX', 'Subaru Impreza WRX STI (2.5)', 'Mitsubishi Lancer Evo X', 'Audi S4 (B8)', 'BMW M3 Cabrio (E93)', 'Porsche Cayman S (987)', 'VW Golf R32 (Mk V)', 'Opel Astra OPC 2012', 'Caterham 7 CSR 200', 'Audi TT 3.2 quattro (Mk II)', 'Audi TT Roadster 3.2 (Mk II)', 'Nissan 350Z (313 PS)', 'Renault Megane RS (Mk III)', 'Peugeot RCZ GT THP200', 'BMW Z4 3.0si Coupe', 'Toyota GT86', 'Ford Focus ST', 'Subaru BRZ', 'Mini Cooper S (Mk II)', 'Toyota Celica S', 'Renault Clio RS III Cup', 'Honda Civic Type-R (EP3)', 'Skoda Fabia RS (Mk II)', 'Opel Corsa OPC (D)', 'Ford Fiesta ST', 'Volvo C30 T5', 'Honda Civic Type-R (FN2)', 'Mazda MX-5 2.0 (Mk III)', 'Ford Focus RS', 'Mazda 3 MPS (Mk II)']
['Oleg Kesselman', 'Oleg Kesselman', 'unknown', 'unknown', 'unknown', 'Oleg Kesselman', 'unknown', 'Boris Shulmeister', 'Boris Shulmeister', 'unknown', 'unknown', 'Boris Shulmeister', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'Alexei Kurilkin', 'Oleg Kesselman', 'unknown', 'Kirill Ladygin', 'unknown', 'unknown', 'Oleg Kesselman', 'Oleg Kesselman', 'unknown', 'Oleg Kesselman', 'Oleg Kesselman', 'Oleg Kesselman', 'unknown', 'Scherbatkin  Slava', 'unknown', 'Alexey Krasnoglazov', 'F. Dikarev', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown']
['1:48.77', '1:49.09', '1:49.16', '1:49.73', '1:49.80', '1:50.02', '1:50.65', '1:52.70', '1:53.90', '1:55.00', '1:56.27', '1:56.30', '1:56.60', '1:56.62', '1:56.80', '1:57.10', '1:57.40', '1:57.80', '1:58.83', '1:59.15', '1:59.60', '1:59.70', '2:00.90', '2:00.99', '2:00.99', '2:01.54', '2:01.60', '2:02.00', '2:02.17', '2:02.20', '2:02.40', '2:02.40', '2:02.70', '2:03.00', '2:03.60', '2:03.69', '2:04.05', '2:05.47', '2:06.30', '2:06.82', '2:07.29', '2:08.17', '2:10.20 w', '2:12.50 w']
['500 / 1601', '530 / 1591', '480 / 1765', '525 / 1671', '520 / 1640', '570 / 1529', '480 / 1618', '400 / 1535', '560 / 2041', '537 / 1845', '420 / 1628', '495 / 1758', '295 / 1675', '457 / 1809', '290 / 1481', '300 / 1527', '295 / 1590', '333 / 1754', '420 / 1810', '295 / 1409', '250 / 1580', '280 / 1560', '200 / 575', '250 / 1448', '250 / 1539', '313 / 1545', '250 / 1406', '200 / 1364', '265 / 1408', '200 / 1239', '250 / 1448', '200 / 1251', '174 / 1207', '143 / 1124', '201 / 1256', '200 / 1246', '179 / 1264', '192 / 1230', '150 / 1137', '220 / 1453', '201 / 1348', '160 / 1152', '305 / 1475', '260 / 1464']

In [41]:
data={
    "Rank":Rank,
    "Vehicle":Vehicle,
    "Driver":Driver,
    "Time":Time,
    "PS / KG":PSKG,    
}

In [42]:
imp=pd.DataFrame(data)
imp

,Rank,Vehicle,Driver,Time,PS / KG
0,1.,Porsche 911 Turbo,Oleg Kesselman,1:48.77,500 / 1601
1,2.,Porsche 911 Turbo S,Oleg Kesselman,1:49.09,530 / 1591
2,3.,Nissan GT-R (R35),unknown,1:49.16,480 / 1765
3,4.,Audi R8 V10 5.2 FSI (Mk I),unknown,1:49.73,525 / 1671
4,5.,Lamborghini Gallardo SE,unknown,1:49.80,520 / 1640
5,6.,Ferrari 458 Italia,Oleg Kesselman,1:50.02,570 / 1529
6,7.,Porsche 911 Turbo (997),unknown,1:50.65,480 / 1618
7,8.,911 Carrera 4S Cabriolet,Boris Shulmeister,1:52.70,400 / 1535
8,9.,BMW M6 Cabrio (F12),Boris Shulmeister,1:53.90,560 / 2041
9,10.,Mercedes-Benz SL 63 AMG,unknown,1:55.00,537 / 1845
10,11.,BMW M3 (E92),unknown,1:56.27,420 / 1628
11,12.,Jaguar F-Type V8 S,Boris Shulmeister,1:56.30,495 / 1758
12,13.,Lancer Evo X MR TC-SST,unknown,1:56.60,295 / 1675
13,14.,Mercedes-Benz C 63 AMG,unknown,1:56.62,457 / 1809
14,15.,Mitsubishi Lancer EVO IX,unknown,1:56.80,290 / 1481
15,16.,Subaru Impreza WRX STI (2.5),unknown,1:57.10,300 / 1527
16,17.,Mitsubishi Lancer Evo X,unknown,1:57.40,295 / 1590
17,18.,Audi S4 (B8),unknown,1:57.80,333 / 1754
18,19.,BMW M3 Cabrio (E93),unknown,1:58.83,420 / 1810
19,20.,Porsche Cayman S (987),unknown,1:59.15,295 / 1409
20,21.,VW Golf R32 (Mk V),Alexei Kurilkin,1:59.60,250 / 1580
21,22.,Opel Astra OPC 2012,Oleg Kesselman,1:59.70,280 / 1560
22,23.,Caterham 7 CSR 200,unknown,2:00.90,200 / 575
23,24.,Audi TT 3.2 quattro (Mk II),Kirill Ladygin,2:00.99,250 / 1448
24,25.,Audi TT Roadster 3.2 (Mk II),unknown,2:00.99,250 / 1539
25,26.,Nissan 350Z (313 PS),unknown,2:01.54,313 / 1545
26,27.,Renault Megane RS (Mk III),Oleg Kesselman,2:01.60,250 / 1406
27,28.,Peugeot RCZ GT THP200,Oleg Kesselman,2:02.00,200 / 1364
28,29.,BMW Z4 3.0si Coupe,unknown,2:02.17,265 / 1408
29,30.,Toyota GT86,Oleg Kesselman,2:02.20,200 / 1239
30,31.,Ford Focus ST,Oleg Kesselman,2:02.40,250 / 1448
31,32.,Subaru BRZ,Oleg Kesselman,2:02.40,200 / 1251
32,33.,Mini Cooper S (Mk II),unknown,2:02.70,174 / 1207
33,34.,Toyota Celica S,Scherbatkin Slava,2:03.00,143 / 1124
34,35.,Renault Clio RS III Cup,unknown,2:03.60,201 / 1256
35,36.,Honda Civic Type-R (EP3),Alexey Krasnoglazov,2:03.69,200 / 1246
36,37.,Skoda Fabia RS (Mk II),F. Dikarev,2:04.05,179 / 1264
37,38.,Opel Corsa OPC (D),unknown,2:05.47,192 / 1230
38,39.,Ford Fiesta ST,unknown,2:06.30,150 / 1137
39,40.,Volvo C30 T5,unknown,2:06.82,220 / 1453
40,41.,Honda Civic Type-R (FN2),unknown,2:07.29,201 / 1348
41,42.,Mazda MX-5 2.0 (Mk III),unknown,2:08.17,160 / 1152
42,43.,Ford Focus RS,unknown,2:10.20 w,305 / 1475
43,44.,Mazda 3 MPS (Mk II),unknown,2:12.50 w,260 / 1464

In [47]:
imp.to_csv("ADM Miachkovo lap times.csv",index=False)

In [44]:
imp.head()

  Rank                     Vehicle          Driver     Time     PS / KG
0   1.           Porsche 911 Turbo  Oleg Kesselman  1:48.77  500 / 1601
1   2.         Porsche 911 Turbo S  Oleg Kesselman  1:49.09  530 / 1591
2   3.           Nissan GT-R (R35)         unknown  1:49.16  480 / 1765
3   4.  Audi R8 V10 5.2 FSI (Mk I)         unknown  1:49.73  525 / 1671
4   5.     Lamborghini Gallardo SE         unknown  1:49.80  520 / 1640

In [45]:
imp.tail()

   Rank                   Vehicle   Driver       Time     PS / KG
39  40.              Volvo C30 T5  unknown    2:06.82  220 / 1453
40  41.  Honda Civic Type-R (FN2)  unknown    2:07.29  201 / 1348
41  42.   Mazda MX-5 2.0 (Mk III)  unknown    2:08.17  160 / 1152
42  43.             Ford Focus RS  unknown  2:10.20 w  305 / 1475
43  44.       Mazda 3 MPS (Mk II)  unknown  2:12.50 w  260 / 1464